body {
	height: 630px;
	background: red;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(red, yellow);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(red, yellow);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(red, yellow);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(black, #0C0C0C);
	/* Standard syntax */
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.notify {
	font-size: 25px;
	color: #fecbf9;
	padding: 0;
	margin: 0;
	float: right;
	position: relative;
	top: -48px;
	left: 15px;
	vertical-align: middle;
	margin-right: 10px;
	font-weight: bold;
	cursor: pointer;
}

.notifications {
	visibility: hidden;
	opacity: 1;
	margin: 0;
	padding: 0;
}

.notify:hover>notifications {
	opacity: 1;
	visibility: visible;
}

.notify:hover {
	transform: rotate(20deg);
	transition-duration: 0.2s;
}

.menu {
	padding: 0;
	margin: 0;
	width: 250px;
	float: left;
	max-width: 250px;
	display: inline-block;
	z-index: 150;
}

.menu ul {
	height: 100%;
	font-family: sans-serif;
	font-weight: bold;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 230px;
	background-color: #39679f;
	border-right: 5px solid #fecbf9;
	;
}

.menu ul li {
	margin-bottom: 0;
	color: #FFFEFF;
	padding: 15px;
	position: relative;
	width: 200px;
	vertical-align: middle;
	background-color: #39679f;
	border-color: #fecbf9;
	cursor: pointer;
}

.menu ul>li:hover {
	font-size: 20px;
	padding: 15px;
	width: 205px;
	position: relative;
	vertical-align: middle;
	background-color: #111418;
	color: #fecbf9;
}

.menu ul>li:hover span {
	font-size: 18px;
	color: #fecbf9;
	margin-right: 15px;
}

.menu>ul>li {
	border-right: 5px solid #fecbf9;
}

.menu ul ul {
	transition: all 0.4s;
	opacity: 0;
	border-left: 3px solid #fecbf9;
	border-right: 0px solid #fecbf9;
	position: absolute;
	visibility: hidden;
	left: 99%;
	top: -1%;
}

.menu ul li:hover>ul {
	position: absolute;
	width: auto;
	opacity: 1;
	visibility: visible;
	border-right: 0px solid #fecbf9
}

.menu ul li a {
	text-decoration: none;
}

.menu ul li a:hover {
	text-decoration: none;
}

span {
	color: #FFFFEF;
	margin-right: 15px;
}

.menu ul ul {
	color: #FFFFEF;
	margin-right: 15px;
}

h2 {
	font-family: sans-serif;
	padding: 10px;
}

.content {
	font-family: sans-serif;
	width: 800px;
}

.design1 {
	border: 8px solid #fecbf9;
	font-family: sans-serif;
	background-color: #39679f;
	width: 400px;
	height: 250px;
	float: left;
	display: inline-block;
}

.design2 {
	border: 8px solid #39679f;
	font-family: sans-serif;
	background-color: #000000;
	width: 350px;
	height: 250px;
	float: left;
	display: inline-block;
	margin-left: 20%;
}

.content div {
	position: absolute;
	top: 20px;
	left: 275px;
	padding: 0;
	z-index: -30;
}

.content div header {
	position: relative;
	color: #fecbf9;
	top: -12px;
	background-size: 400px 50px;
	background-color: #39679f;
	background-image: linear-gradient(#39679f, #8fafd6);
	background-repeat: no-repeat;
	margin-top: 20px;
	padding-top: -2px;
}

.inside {
	margin: 14%;
	margin-left: -65%;
	background-color: #39679f;
	background-image: linear-gradient(#39679f, #294970);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 40%;
	height: 30%;
	float: left;
}

.content div div h2 {
	margin-top: -15px;;
	padding: 10px;
	margin-right: 100%;
	color: #fecbf9;
}

.content div div label {
	position: absolute;
	padding-left: 0;
	font-size: 40px;
	margin-left: 5%;
	margin-top: -14%;
	font-weight: bolder;
	color: #fecbf9;
	z-index: 150;
}

.close {
	position: absolute;
	font-size: 28px;
	float: left;
	margin-left: 10px;
	margin-top: 2%;
}

.content form {
	position: absolute;
	top: 20px;
	left: 275px;
	height: 300px;
	padding: 0;
	z-index: -30;
}

form label {
	margin-top: 15px;
	float: right;
	margin-right: 25px;
}

.content form label {
	margin: 0;
	width: 60%;
	background-color: black;
	padding: 2px;
	top: 10px;
	position: relative;
	float: left;
	font-size: 20px;
	font-weight: bold;
}

.content form label select {
	color: white;
	margin: 5px;
	width: 220px;
	background-color: black;
	border: 3px solid #39679f;
}

.but {
	background-color: #39679f;
	width: 50px;
	height: 50px;
	position: absolute;
	font-size: 28px;
	float: left;
	margin-left: 10px;
	margin-top: 60%;
	border: 3px solid #111111;
}

form button {
	width: 50px;
	height: 50px;
	margin-top: 15%;
	color: black;
	margin-left: 80%;
}

.next {
	margin: 0;
	padding: 0;
	font-size: 28px;
	float: left;
}