#wrapper
{
    width: 100%;
    height: 100%;
    background-color: #111418;
}
#banner
{
    
    width: 100%;
    height: 60px;
    background-color: bisque;
}
#menuLeft
{
    font-family: monospace;
    padding: 0;
    margin: 0;
    margin-top: -15px; 
    width: 250px;
    max-width: 250px;
    height: 600px;
    background-color: #39679f;
}
#content
{
    margin: 0;
    padding: 0;
    margin-top: -580px;
    margin-left: 22.5%;
    width: 75%;
    height: 550px;
    background-color: #111418;
}
#avatar
{
    background-color: #39679f;
    width: 120%;
    height: 100px;
    float: right;
    border-bottom: 10px solid #fecbf9;
}
#avatar label
{
    float: left;
    position: relative;
    color: #fecbf9;
    top:40px;
    margin-left: 20%;
}
#menuLeft #avatar
{
    font-size: 20px;
}

#menuLeft ul
{
    width: 210px;
    height: 100%;
    background-color: #39679f;
    z-index: 1;
}
#menuLeft ul ul
{
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    font-size: 15px;
    top: 176px;
    left: 28%;
    width: 240px;
}

#menuLeft ul li
{
    color: aqua;
    font-size: 5px;
    margin-left: -15%;
    width: 120%;
    color: aliceblue;
    float: right;
    height: 60px;
    background-color: #39679f;
    border-right: 5px solid #fecbf9;
    border-bottom: 5px solid #fecbf9;
}
#menuLeft ul li:hover
{
    color: aqua;
    font-size: 5px;
    margin-left: -15%;
    width: 120%;
    color: aliceblue;
    float: right;
    height: 60px;
    background-color: #39679f;
    border-right: 5px solid #fecbf9;
    border-bottom: 5px solid #fecbf9;
}
#menuLeft ul li:hover > span
{
    font-size: 25px;
}
span
{
    font-size: 10px;
}
#menuLeft ul li:hover > ul
{

    float: right;
    height: auto;
    margin-left: -100px;
    opacity: 1;
    visibility: visible;
    background-color: dimgray;
    top: 176px;
    left: 28%;
}

#menuLeft ul li:hover
{
    margin-left: -15%;
    margin-left: 20px;
    width: 120%;
    float: right;
    color: #fecbf9;
    font-weight: bold;
    height: 60px;
    background-color: #111418;
    border-right: 5px solid #111418;
    border-bottom: 5px solid #111418;
}
#menuLeft ul li a
{
    color: aliceblue;
    font-size: 30px;
    margin-left:  -3%;
    margin-top:  5%;
}
#menuLeft ul li span
{
    font-size: 30px;
    margin-left:  16%;
    margin-top:  5%;
}
#content #form-style-1
{
    position: relative;
    float: left;
    padding: 0;
    margin-top: -35%;
    margin-left: 8%;
    width: 350px;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 4px solid #39679f;
}
#form-style-1 label
{
    color: #39679f;
    position: relative;
    padding: 0;
    background-color: #111418;
    height: 25px;
    margin-top: 25px;
    margin-right: 8%;
    float:right;
}
#form-style-1 label input
{
    padding: 0;
    height: 25px;
    margin-top: -3%;

}
#form-style-1 label input[type=submit]
{
    padding: 0;
    height: 25px;
    margin-left: 55px;
    margin-top: -15px;
    width: 60px;

}
#form-style-1 label select
{
    width: 150px;
    padding: 0;
    height: 25px;
    margin-top: -3%;
    color: antiquewhite;
    background-color: #39679f;
}
#form-style-1 .close
{
    margin-top: 5px;
    margin-left: 5px;
    width: 35px;   
    height: 35px;
}
#content #form-style-1 header
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0;
    margin-top: -19px;
    padding: 0;
    float: left;
    width: 100%;
    height: 70px;
    background-color: #39679f;
}
#content #form-style-1 header h2
{
    color: black;
    width: auto;
    float: left;
    margin-left: 8px;
    font-size: 35px;
}